<div style="background-color: #EFF0F2; padding-top: 10px;">
    <div class="container" style="margin-top: 50px;">
        <div class="nav-down mt-3">
            <a href="">Home</a> <span>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </span>
            <a href="">PAKISTAN</a> <span>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </span>
            <a href="">{{item.name}}/{{item.id}}</a> <span>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </span>
            <a href="">HOSPITAL</a><span>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </span>
            <b style="font-size: 10px; font-style: normal;">UPPERCASE</b>
        </div>
    </div>
    <div>
        <div class="container mt-3 tobe">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-3">
                                <img src="../../../assets/images/hospital.png" class="change" style="max-height: 190px; padding:20px;" alt="">
                            </div>
                            <div class="col">
                                <div class="card-body" style="padding-top: 26px;">
                                    <h1 class="pop">
                                        {{item.name}}
                                        <span class="topsapn position-absolute badge rounded-pill">
                                            <img src="https://oladoc.com/dist/images/pmc-verified.svg"> Verified
                                        </span>
                                    </h1>
                                    <p class="textpop">{{item.city_id.name}}</p>
                                    <button style="margin-top: 0px; background-color:#000066; " mat-raised-button
                                        color="primary">
                                        Call Helpline Now
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 tobe" style="text-align: center;">
                        <mat-card class="example-card tobe">
                            <mat-card-title style="font-size: 23px;">About {{item.name}}</mat-card-title>
                            <mat-card-content style="margin-bottom: 0px;">
                                <div class="flex mt-3" style="justify-content: space-between;">
                                    <p style="color: #6C757D;">Recommendations: </p>
                                    <p>
                                        <mat-icon
                                            style="color: #6C757D;font-size: 15px; width: 15px; vertical-align: -3px; padding: 0px; margin: 2px;">
                                            thumb_up_alt</mat-icon>2
                                    </p>
                                </div>
                                <div class="flex tobe" style="justify-content: space-between;">
                                    <p style="color: #6C757D;">Total Doctors </p>
                                    <p style="text-align: end;">
                                        <a href="" style="text-decoration: none; text-align: right;color: #232426;">
                                            <mat-icon
                                                style="color: #6C757D;font-size: 18px; width: 15px; vertical-align: -3px; padding: 0px; margin: 2px;">
                                                contact_phone</mat-icon> {{check}} Panel Doctors
                                        </a>
                                    </p>
                                </div>
                                <div class="flex" style="justify-content: space-between;">
                                    <p style="color:#6C757D; font-size: 14px;">
                                        <span> Location</span>
                                    </p>
                                    <p style="text-align: end;">
                                        <mat-icon
                                            style="font-size: 20px; width: 20px; color: #6C757D; vertical-align: -5px;">
                                            location_on</mat-icon>{{item.location}}
                                    </p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-5">
            <div class="col-md-8 tobe">
                <div class="card" style="padding: 15px; ">
                    <h1 style="text-align: center;"> <strong>Search by
                            Specialization</strong> </h1>
                    <div>
                        <div class="check">
                            <div class="row row-cols-2 row-cols-sm-2
                            row-cols-md-3">
                            <div class="col" style="padding: 3px;">
                                    <a mat-raised-button
                                            routerLink='/pakistan/hospital/{{item.id}}/{{item.name}}/dermatologist'
                                            style="color:
                                            #000066; width: 100%; text-align:
                                            left;">
                                            <mat-icon>face</mat-icon>
                                            Dermatologist
                                    </a>
                            </div>
                            <div class="col" style="padding: 3px;">
                                    <a mat-raised-button
                                            routerLink='/pakistan/hospital/{{item.id}}/{{item.name}}/Gynecologist'
                                            style="color:
                                            #000066; width: 100%; text-align:left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Gynecologist
                                    </a>
                            </div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink='/pakistan/hospital/{{item.id}}/{{item.name}}/ent-specialist'
                                            style="color:
#000066; width: 100%; text-align:left;">
                                            <mat-icon>face</mat-icon>
                                            ENT Specialist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/pediatrician"
                                            style="color:
#000066; width: 100%; text-align:left;">
                                            <mat-icon>child_care</mat-icon>
                                            Pediatrician
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Orthopedic"
                                            style="color:
#000066; width: 100%; text-align:left;">
                                            <mat-icon>
                                                    airline_seat_legroom_extra
                                            </mat-icon>
                                            Orthopedic Surgeon
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/general_physician"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>card_travel</mat-icon>
                                            General Physician
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Neurologist"
                                            style="color:#000066; width: 100%; text-align: left;">
                                            <mat-icon>donut_large</mat-icon>
                                            Neurologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Urologist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>gradient</mat-icon>
                                            Urologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/eye_specialist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>remove_red_eye
                                            </mat-icon>
                                            Eye Specialist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Psychiatrist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>cloud_circle
                                            </mat-icon>
                                            Psychiatrist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Dentist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>work_outline
                                            </mat-icon>
                                            Dentist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/gastroenterologist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>gesture</mat-icon>
                                            Gastroenterologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Cardiologist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Cardiologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Pulmonologist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Pulmonologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Diabetologist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Diabetologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/General_Surgeon"
                                            style="color:
#000066; width: 100%; text-align:left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            General Surgeon
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Nephrologist"
                                            style="color:
#000066; width: 100%; text-align:left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Nephrologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Counselor"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Counselor
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Operative_Dentist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Operative Dentist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Psycologist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Psycologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Cosmetologist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Cosmetologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Nutritionist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Nutritionist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Homeopath"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Homeopath
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/eye_surgeon"
                                            style="color:
#000066; width: 100%; text-align:             left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Eye Surgeon
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Dietitian"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Dietitian
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Neurosurgeon"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Neurosurgeon
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Chiropractor"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Chiropractor
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Thoracic_Surgeon"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Thoracic Surgeon
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Radiologist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Radiologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Rheumatologist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Rheumatologist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Cosmetic_Dentist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Cosmetic Dentist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Physiotherapist"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Physiotherapist
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Obstetrician"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Obstetrician
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Plastic_Surgeon"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Plastic Surgeon
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Consultant_Physician"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Consultant Physician
                                    </a></div>
                            <div class="col" style="padding: 3px;"><a
                                            mat-raised-button
                                            routerLink="/pakistan/hospital/{{item.id}}/{{item.name}}/Family_Physician"
                                            style="color:
#000066; width: 100%; text-align:
left;">
                                            <mat-icon>pregnant_woman
                                            </mat-icon>
                                            Family Physician
                                    </a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 rounded card">
                        <h1 class="fst-italic">About</h1>
                        <p class="mb-0">Book appointments with the best Doctors and
                            Specialists such as Gynecologists, Skin Specialists,
                            Child Specialists, Surgeons, etc. in Pakistan
                            conveniently..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>