<div style="background-color:#f5f7fa; height: 100%;">
    <div class="my-5">.</div>
    <div >
        <div class="modal-dialog tobe" role="document">
            <div class="modal-content card">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <!-- <h5 class="modal-title">Modal title</h5> -->
                    <h1>
                        <Strong>Signin to</Strong><strong style="color:
                            #4a39ac;"> Clinic</strong> <strong style="color:
                            #ffbf00;">ea</strong>
                    </h1>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form >
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-4" [(ngModel)] = "username" name="username"
                                id="floatingInput"
                                placeholder="username">
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control
                                rounded-4" id="floatingPassword" [(ngModel)] = "password" name="password"
                                placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <a mat-raised-button style="background-color:
                            #000066;; color: white; width: 100%; padding: 5px; font-size: 15px;" 
                             (click)="checkLogin()" > 
                            <a style="text-decoration:
                                none; color: white;">Signin
                            </a>
                        </a>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>