<div class="bg-dark">
<div class="container bg-dark">
    <footer class="row row-cols-12 py-5 my-5">
      <div class="col-6">
        <a class="navbar-brand" routerLink="" style="font-size: 30px;  margin-right: 60px;"> <strong
            style="color:  #4a39ac">Clinic</strong><strong style="color:#ffbf00;;">ea</strong></a>
        <p class="text-muted">Book appointments with the best Doctors and Specialists such as Gynecologists, Skin Specialists, Child Specialists, Surgeons, etc. in Pakistan conveniently.</p>
        <div class="row appstor-imgs">
            <p style="color: white;">Download App</p>
            <div class="col-12 col-sm-auto">
                <a class="d-inline-block" href="https://itunes.apple.com/us/app/oladoc-the-health-app/id1343718442?ls=1&amp;mt=8">
                <img style="width:181px; height:54px;" data-src="https://d5xz95ax6mbg9.cloudfront.net/images/2019/07/apple-appstor-logo.png" alt="apple" src="https://d5xz95ax6mbg9.cloudfront.net/images/2019/07/apple-appstor-logo.png">
                </a>
            </div>
            <div class="col-12 col-sm-auto">
                <a class="d-inline-block" href="https://play.google.com/store/apps/details?id=com.mediconnect.oladoc&amp;hl=en">
                <img style="width:181px; height:54px;" data-src="https://d5xz95ax6mbg9.cloudfront.net/images/2019/07/googleplay-logo.png" alt="Google" src="https://d5xz95ax6mbg9.cloudfront.net/images/2019/07/googleplay-logo.png">
                </a>
            </div>
        </div>

      </div>

      <div class="col" >
        <h5 style="color: white; font-size: 18px;">City</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Karachi</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Lahore</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Islamabad</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Rawalpindi</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Multan</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5 style="color: white;font-size: 18px;">Specialities</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Child specialist</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">ENT specialist</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Eye specialist</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Gynecologists</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Dietitian</a></li>
        </ul>
      </div>
  
      <div class="col">
        <h5 style="color: white;font-size: 18px;">Labs </h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Karachi</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Lahore</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Islamabad</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Rawalpindi</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted" style="color: aliceblue;">Multan</a></li>
          </ul>
      </div>
    </footer>
  </div>
</div>