<div>
    <div class="container">

        <div style="margin-top: 35px;">
            All Appointments
        </div>

        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Physical Appointments" style="padding: 15px;">
                <div class="card mb-3" *ngFor="let item of items">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-3">
                                    <img
                                        src="../../../assets/images/patientavatar.png"
                                        style="max-height: 140px;
                                        padding:
                                        20px;" alt="">
                                </div>
                                <div class="col">
                                    <div class="card-body" style="padding-left:
                                        60px;">
                                        <h3 class="card-title"> <strong>{{item.d_id.name}}</strong>
                                        </h3>
                                        <p class="card-text" style="margin:
                                            0px;"><small class="text-muted">
                                                <mat-icon style="font-size:
                                                    15px;">schedules</mat-icon>
                                                {{item.date}} ,
                                                {{item.time%1==0?(item.time+':00
                                                PM'):((item.time-0.2999999999999998)+':30
                                                PM')}}
                                            </small></p>
                                        <p class="card-text" style="margin:
                                            0px;"><small class="text-muted">
                                                <mat-icon style="font-size:
                                                    15px;">phone</mat-icon>{{item.d_id.contact}}
                                            </small></p>
                                        <p class="card-text" style="margin:
                                            0px;"><small class="text-muted">
                                                <mat-icon style="font-size:
                                                    15px;">mail</mat-icon>{{item.d_id.email}}
                                            </small></p>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4" style="padding: 5px;">
                            <div class="row" style="text-align:
                                center;">
                                <div class="col-12" style="padding:
                                    5px;">
                                    <a data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"
                                        mat-raised-button
                                        style="color:#000066;
                                        background-color:#d4d4fd;
                                        text-align: center; width:50%;"
                                        (click)="showData(item.d_id.id)">
                                        <mat-icon>remove_red_eye</mat-icon>
                                        View
                                    </a>
                                </div>
                                <div class="col-12" style="padding:
                                    5px;">
                                    <a mat-raised-button
                                        routerLink='/patient/appointments/reschedule/{{item.id}}'
                                        style="color:
                                        green;background-color: rgb(196,
                                        252,
                                        196); text-align: center; width:
                                        50%;">
                                        <mat-icon>done_all</mat-icon>
                                        Reschedule
                                    </a>
                                </div>
                                <div class="col-12" style="padding:
                                    5px;">
                                    <a mat-raised-button
                                        (click)="deleteAppointment(item.id)"
                                        style="color:
                                        red;background-color: rgb(248,
                                        216,
                                        216); text-align: center; width:
                                        50%;">
                                        <mat-icon>cancel_presentation</mat-icon>
                                        Cancel
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Online Appointments" style="padding: 15px;">
                <div class="card mb-3"  *ngFor="let item of onlineItems">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-3">
                                    <img
                                        src="../../../assets/images/patientavatar.png"
                                        style="max-height: 140px;
                                        padding:
                                        20px;" alt="">
                                </div>
                                <div class="col">
                                    <div class="card-body" style="padding-left:
                                        60px;">
                                        <h3 class="card-title"> <strong>{{item.name}}</strong>
                                        </h3>
                                        <p class="card-text" style="margin:
                                            0px;"><small class="text-muted">
                                                <mat-icon style="font-size:15px;">schedules</mat-icon>
                                                    {{item.date}} ,
                                                    {{item.time%1==0?(item.time+':00 PM'):((item.time-0.2999999999999998)+
                                                    ':30 PM')}}
                                            </small></p>
                                        <p class="card-text" style="margin:
                                            0px;"><small class="text-muted">
                                                <mat-icon style="font-size:
                                                    15px;">phone</mat-icon>{{item.contact}}
                                            </small></p>
                                        <p class="card-text" style="margin:
                                            0px;"><small class="text-muted">
                                                <mat-icon style="font-size:
                                                    15px;">mail</mat-icon>{{item.email}}
                                            </small></p>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-2" *ngIf="!item.o_status" style="padding: 5px;">
                            <div class="row" style="text-align:
                                center;">
                                <div class="col-12" style="padding:
                                    5px;">
                                    <span class="badge bg-warning text-dark">Under
                                        Review</span>
                                </div> 
                                <!--<div class="col-12" style="padding:
                                    5px;">
                                    <span class="badge bg-success">Approved</span> 
                                </div>-->
                                <div style="width: 100%;">
                                    <h4> <b>Join Meeing Link Will Be Shown Here After Approval </b> </h4>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-2" *ngIf="item.o_status" style="padding: 5px;">
                            <div class="row" style="text-align:
                                center;">
                                <div class="col-12" style="padding:
                                    5px;">
                                    <span class="badge bg-success">Approved</span> 
                                </div>
                                <div style="width: 100%;">
                                    <h4> <b>Join Meeing Using Link Below</b> </h4>
                                    <small><a href="{{item.link}}" target="_blank">{{item.link}}</a></small> 
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4" style="padding: 5px;">
                            <div class="row" style="text-align:
                                center;">
                                <div class="col-12" style="padding:
                                    5px;">
                                    <a data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"
                                        mat-raised-button
                                        style="color:#000066;
                                        background-color:#d4d4fd;
                                        text-align: center; width:50%;" (click)="showData(item.d_id)">
                                        <mat-icon>remove_red_eye</mat-icon>
                                        View
                                    </a>
                                </div>
                                <div class="col-12" *ngIf="!item.o_status" style="padding:
                                    5px;">
                                    <a mat-raised-button
                                    routerLink='/patient/appointments/reschedule/{{item.id}}'
                                        style="color:
                                        green;background-color: rgb(196,
                                        252,
                                        196); text-align: center; width:
                                        50%;">
                                        <mat-icon>done_all</mat-icon>
                                        Reschedule
                                    </a>
                                </div>
                                <div class="col-12" style="padding:
                                    5px;">
                                    <a mat-raised-button
                                    (click)="deleteAppointment(item.id)"
                                        style="color:
                                        red;background-color: rgb(248,
                                        216,
                                        216); text-align: center; width:
                                        50%;">
                                        <mat-icon>cancel_presentation</mat-icon>
                                        Cancel
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Completed Appointments">
                <div class="card mb-3" *ngFor="let item of items1">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-3">
                                    <img
                                        src="../../../assets/images/patientavatar.png"
                                        style="max-height: 140px;
                                        padding:
                                        20px;" alt="">
                                </div>
                                <div class="col">
                                    <div class="card-body" style="padding-left:
                                        60px;">
                                        <h3 class="card-title"> <strong>{{item.d_id.name}}</strong>
                                        </h3>
                                        <p class="card-text" style="margin:
                                            0px;"><small class="text-muted">
                                                <mat-icon
                                                    style="font-size:15px;">schedules</mat-icon>
                                                {{item.date}},
                                                {{item.time%1==0?(item.time+':00
                                                PM'):((item.time-0.2999999999999998)+':30
                                                PM')}}
                                            </small></p>
                                        <p class="card-text"
                                            style="margin:0px;">
                                            <small class="text-muted">
                                                <mat-icon
                                                    style="font-size:15px;">phone</mat-icon>
                                                {{item.d_id.contact}}
                                            </small></p>
                                        <p class="card-text" style="margin:
                                            0px;"><small class="text-muted">
                                                <mat-icon
                                                    style="font-size:15px;">mail</mat-icon>
                                                {{item.d_id.email}}
                                            </small></p>
                                        <!-- <p class="card-text" style="margin: 0px;"><small class="text-muted"> <mat-icon style="font-size: 15px;">schedules</mat-icon>14 Nov 2019, 10.00 AM</small></p> -->
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-4" style="padding-top: 25px;">
                            <div class="row" style="text-align:
                                center;">
                                <div class="col-12" style="padding:
                                    5px;">
                                    <a data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"
                                        (click)="showData(item.d_id.id)"
                                        mat-raised-button
                                        style="color:
                                        #000066;background-color:
                                        #d4d4fd;
                                        text-align: center; width:
                                        50%;">
                                        <mat-icon>remove_red_eye</mat-icon>
                                        Doctor's Details
                                    </a>
                                </div>
                                <div class="col-12" style="padding:
                                    5px;">
                                    <a mat-raised-button
                                        style="color:
                                        green;background-color: rgb(196,
                                        252,
                                        196); text-align: center; width:
                                        50%;" routerLink="/">
                                        <mat-icon>done_all</mat-icon>
                                        Home Page
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>


        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="staticBackdropLabel"
                            style="text-align: center;"><strong>More
                                Details</strong>
                        </h1>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Doctors
                                    ID :
                                </b> </div>
                            <div class="col" style="text-align: right;">{{temp.id}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Full
                                    Name :
                                </b> </div>
                            <div class="col" style="text-align: right;">{{temp.name}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Username
                                    :
                                </b> </div>
                            <div class="col" style="text-align: right;">{{temp.username}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>CNIC
                                    No. :
                                </b> </div>
                            <div class="col" style="text-align: right;">{{temp.cnic}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Contact
                                    No.
                                    : </b> </div>
                            <div class="col" style="text-align: right;">{{temp.contact}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Gender
                                    : </b> </div>
                            <div class="col" style="text-align: right;">{{temp.gender}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Martial
                                    Status
                                    : </b> </div>
                            <div class="col" style="text-align: right;">{{temp.m_status}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>City
                                    : </b> </div>
                            <div class="col" style="text-align: right;">{{temp.city_id}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Hospital
                                    : </b> </div>
                            <div class="col" style="text-align: right;">{{temp.h_id}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Language
                                    : </b> </div>
                            <div class="col" style="text-align: right;">{{temp.language}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Specialization
                                    : </b> </div>
                            <div class="col" style="text-align: right;">{{temp.major_id}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Physical
                                    Consultancy Fee
                                    : </b> </div>
                            <div class="col" style="text-align: right;">Rs:
                                {{temp.pfees}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Online
                                    Consultancy Fee
                                    : </b> </div>
                            <div class="col" style="text-align: right;">Rs:
                                {{temp.cfees}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Morning
                                    Slot
                                    : </b> </div>
                            <div class="col" style="text-align: right;">{{temp.m_start}}
                                - {{temp.m_end}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Afternoon
                                    Slot
                                    : </b> </div>
                            <div class="col" style="text-align: right;">{{temp.a_start}}
                                - {{temp.a_end}}</div>
                        </div>
                        <div class="row">
                            <div class="col" style="text-align: left;"><b>Evening
                                    Slot
                                    : </b> </div>
                            <div class="col" style="text-align: right;">{{temp.e_start}}
                                - {{temp.e_end}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
