.tobe .card {
    border-radius: 25px;
    box-shadow:0 5px 10px rgba(154,160,185,0.05), 0 15px 40px rgba(166,173,201,0.2);
  }

  .tobeless .card {
    border-radius: 15px;
    box-shadow:0 5px 10px rgba(154,160,185,0.05), 0 15px 40px rgba(166,173,201,0.2);
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }


  .none{
    display: none;
  }

  
  .example-half-width {
    width: 50%;
    padding: 5px;
  }

  .example-quarter-width {
    width: 33%;
    padding: 5px;
  }

  .example-quad-width {
    width: 25%;
    padding: 5px;
  }

  input[type="radio"]{
    vertical-align: baseline;
}

.display{
    display: none;
}
.cclass{
    margin: 0px 20px;
}

@media screen and (max-width:765px){

    .cclass{
        margin: 0px;
    }
    
}