<div style="background-color:#f5f7fa;">
    <div class="my-5">.</div>
    <div>
        <form [formGroup]="getFormData">
        <div class="modal-dialog tobe" role="document">
            <div class="modal-content card">
                <div class="p-4 mb-3 card">
                    <h2>
                        <strong style="color:
                          #4a39ac;"> Clinic</strong> <strong style="color:
                          #ffbf00;">ea</strong>
                    </h2>
                    <h1 style="text-align: center;"><strong>Select Time And Date</strong> </h1>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Value binding</mat-label>
                        <input matInput [matDatepicker]="picker3" [value]="date.value" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker3">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>

                    <div class="list-group mx-0 card" style="user-select: auto;">
                        <label class="list-group-item d-flex gap-2" style="user-select: auto;">
                            <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios2"
                                id="listGroupRadios1" value="" checked="" style="user-select: auto;">
                            <span style="user-select: auto;">
                                Morning Slot
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Time</mat-label>
                                    <mat-select disableRipple value="10.3" formControlName="time" >
                                        <mat-option value="9">
                                            9:00 AM
                                        </mat-option>
                                        <mat-option value="9.3">
                                            9:30 AM
                                        </mat-option>
                                        <mat-option value="10">
                                            10:00 AM
                                        </mat-option>
                                        <mat-option value="10.3">
                                            10:30 AM
                                        </mat-option>
                                        <mat-option value="11">
                                            11:00 AM
                                        </mat-option>
                                        <mat-option value="11.3">
                                            11:30 AM
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2 example-full-width" style="user-select: auto;">
                            <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios2"
                                id="listGroupRadios2" value="" style="user-select: auto;">
                            <span style="user-select: auto;">
                                Afternoon Slot
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Time</mat-label>
                                    <mat-select disableRipple formControlName="time">
                                        <mat-option value="1">
                                            1:00 PM
                                        </mat-option>
                                        <mat-option value="1.3">
                                            1:30 PM
                                        </mat-option>
                                        <mat-option value="2">
                                            2:00 PM
                                        </mat-option>
                                        <mat-option value="2.3">
                                            2:30 PM
                                        </mat-option>
                                        <mat-option value="3">
                                            3:00 PM
                                        </mat-option>
                                        <mat-option value="3.3">
                                            3:30 PM
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2" style="user-select: auto;">
                            <input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios2"
                                id="listGroupRadios3" value="" style="user-select: auto;">
                            <span style="user-select: auto;">
                                Evening Slot
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Time</mat-label>
                                    <mat-select disableRipple formControlName="time">
                                        <mat-option value="5">
                                            5:00 PM
                                        </mat-option>
                                        <mat-option value="5.3">
                                            5:30 PM
                                        </mat-option>
                                        <mat-option value="6">
                                            6:00 PM
                                        </mat-option>
                                        <mat-option value="6.3">
                                            6:30 PM
                                        </mat-option>
                                        <mat-option value="7">
                                            7:00 PM
                                        </mat-option>
                                        <mat-option value="7.3">
                                            7:30 PM
                                        </mat-option>
                                        <mat-option value="8">
                                            8:00 PM
                                        </mat-option>
                                        <mat-option value="8.3">
                                            8:30 PM
                                        </mat-option>
                                        <mat-option value="9">
                                            9:00 PM
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </span>
                        </label>
                    </div>
                    <button class="my-3" mat-raised-button color="primary" type="submit"
                        style="background-color: #4a39ac; width: 100%;" (click)="onUpdate()">Reschedule</button>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>