<div style="background-color:#f5f7fa; height: 100%;">
    <div class="my-5">.</div>
    <div class="container anyclass">
        <div class="sidebar">
            <a class="" routerLink="/doctor/dashboard">
                <div class="row">
                    <div class="col-2">

                        <mat-icon>home</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p> <strong>Dashboard</strong> </p>
                    </div>

                </div> </a>

            <a class="" routerLink="/doctor/appointments">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>schedules</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>Physical Appointments</p>
                    </div>

                </div> </a>
            <a class="" routerLink="/doctor/online">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>schedules</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>Online Appointments</p>
                    </div>

                </div> </a>
            <a class="active" routerLink="/doctor/patients">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>search</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>My Patients</p>
                    </div>

                </div> </a>
            <a class="" routerLink="/doctor/profile">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>settings</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>Edit Profile</p>
                    </div>

                </div> </a>
            <a class="" routerLink="/" (click)="logout()">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>exit_to_app</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>Logout</p>
                    </div>

                </div> </a>
        </div>

        <!-- Page content -->
        <div class="content card" style="padding: 15px;">
            <h1><b>My Patients</b> <hr></h1>

            <div class="tobeless">

                <div class="row row-cols-1 row-cols-sm-2
                    row-cols-md-2 row-cols-lg-3">
                    <div class="col" style="padding: 3px;" *ngFor="let item of
                        items">
                        <div class="card shadow-sm">
                            <mat-card class="example-card">
                                <div class="row">
                                    <div class="col-3">
                                        <img
                                            src="../../../assets/images/patientavatar.png"
                                            style="max-height: 50px;" alt="">
                                    </div>
                                    <div class="col">
                                        <mat-card-title style="font-size:
                                            15px;">{{item.p_id.name}}</mat-card-title>
                                        <mat-card-subtitle style="font-size:
                                            13px;"><b>Patient ID :</b>
                                            {{item.p_id.id}}</mat-card-subtitle>
                                    </div>

                                </div>

                                <mat-divider inset></mat-divider>
                                <mat-card-content>

                                    <div class="row" style="font-size: 12px;">
                                        <div class="col-6" style="text-align:
                                            left; color: rgb(94, 93, 93);
                                            font-weight: 450;">Phone</div>
                                        <div class="col-6" style="text-align:
                                            right; color: rgb(94, 93, 93)">{{item.p_id.contact}}</div>
                                        <div class="col-6" style="text-align:
                                            left; color: rgb(94, 93, 93);
                                            font-weight: 450;">Email</div>
                                        <div class="col-6" style="text-align:
                                            right; color: rgb(94, 93, 93);">{{item.p_id.email}}</div>
                                        <div class="col-6" style="text-align:
                                            left; color: rgb(94, 93, 93);
                                            font-weight: 450;">Gender</div>
                                        <div class="col-6" style="text-align:
                                            right; color: rgb(94, 93, 93);">{{item.p_id.gender}}</div>
                                        <div class="col-6" style="text-align:
                                            left; color: rgb(94, 93, 93);
                                            font-weight: 450;">Date</div>
                                        <div class="col-6" style="text-align:
                                            right; color: rgb(94, 93, 93);">{{item.date}},
                                            {{item.time%1==0?(item.time+':00
                                            PM'):((item.time-0.2999999999999998)+':30
                                            PM')}}</div>

                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
