<div class="album py-5 bg-light mt-0">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators" style="display:none;">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/childhood-obesity.jpg"
                        style="height: 100%; width: 100%;" alt="">
                    <!-- <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Example headline.</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                </div>
                </div> -->
                </div>
                <div class="carousel-item">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/hernia-pain.jpg"
                        style="height: 100%; width: 100%;" alt="">
                    <!-- <div class="container">
                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>
                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div> -->
                </div>
                <div class="carousel-item">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/obesity-and-infertility.jpg"
                        style="height: 100%; width: 100%;" alt="">
                    <!-- <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div> -->
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <!-- <span class="visually-hidden">Previous</span> -->
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <!-- <span class="visually-hidden">Next</span> -->
            </button>
        </div>
    </div>

    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <button class="col" style="border: none;" routerLink="/healthcare/9 Health Risks of Obesity/1">
                <div class="card shadow-sm">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/childhood-obesity.jpg" alt="">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <small class="text-muted">Feb 14, 2021 </small>
                                <small class="text-muted" style="margin: 0px 4px;"> </small>
                                <small class="text-muted">2 min read</small>
                            </div>
                            <mat-icon style="color: rgb(138, 138, 173);">sort</mat-icon>
                        </div>
                    </div>
                </div>
            </button>

            <button class="col" style="border: none;">
                <div class="card shadow-sm">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/hernia-pain.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <small class="text-muted">Feb 14, 2021 </small>
                                <small class="text-muted" style="margin: 0px 4px;"> </small>
                                <small class="text-muted">2 min read</small>
                            </div>
                            <mat-icon style="color: rgb(138, 138, 173);">sort</mat-icon>
                        </div>
                    </div>
                </div>
            </button>

            <button class="col" style="border: none;">
                <div class="card shadow-sm">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/obesity-and-infertility.jpg" alt="">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <small class="text-muted">Feb 14, 2021 </small>
                                <small class="text-muted" style="margin: 0px 4px;"> </small>
                                <small class="text-muted">2 min read</small>
                            </div>
                            <mat-icon style="color: rgb(138, 138, 173);">sort</mat-icon>
                        </div>
                    </div>
                </div>
            </button>

            <button class="col" style="border: none;">
                <div class="card shadow-sm">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/typhoid-fever.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <small class="text-muted">Feb 14, 2021 </small>
                                <small class="text-muted" style="margin: 0px 4px;"> </small>
                                <small class="text-muted">2 min read</small>
                            </div>
                            <mat-icon style="color: rgb(138, 138, 173);">sort</mat-icon>
                        </div>
                    </div>
                </div>
            </button>

            <button class="col" style="border: none;">
                <div class="card shadow-sm">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/hernia-pain.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <small class="text-muted">Feb 14, 2021 </small>
                                <small class="text-muted" style="margin: 0px 4px;"> </small>
                                <small class="text-muted">2 min read</small>
                            </div>
                            <mat-icon style="color: rgb(138, 138, 173);">sort</mat-icon>
                        </div>
                    </div>
                </div>
            </button>

            <button class="col" style="border: none;">
                <div class="card shadow-sm">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/arthritis-ka-ilaj-in-urdu.jpg" alt="">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <small class="text-muted">Feb 14, 2021 </small>
                                <small class="text-muted" style="margin: 0px 4px;"> </small>
                                <small class="text-muted">2 min read</small>
                            </div>
                            <mat-icon style="color: rgb(138, 138, 173);">sort</mat-icon>
                        </div>
                    </div>
                </div>
            </button>
            <button class="col" style="border: none;">
                <div class="card shadow-sm">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/coronavirus-preventive-measures.jpg"
                        alt="">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <small class="text-muted">Feb 14, 2021 </small>
                                <small class="text-muted" style="margin: 0px 4px;"> </small>
                                <small class="text-muted">2 min read</small>
                            </div>
                            <mat-icon style="color: rgb(138, 138, 173);">sort</mat-icon>
                        </div>
                    </div>
                </div>
            </button>

            <button class="col" style="border: none;">
                <div class="card shadow-sm">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/hernia-pain.jpg" alt="">

                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <small class="text-muted">Feb 14, 2021 </small>
                                <small class="text-muted" style="margin: 0px 4px;"> </small>
                                <small class="text-muted">2 min read</small>
                            </div>
                            <mat-icon style="color: rgb(138, 138, 173);">sort</mat-icon>
                        </div>
                    </div>
                </div>
            </button>

            <button class="col" style="border: none;">
                <div class="card shadow-sm">
                    <img src="https://d5xz95ax6mbg9.cloudfront.net/images/2022/02/obesity-and-infertility.jpg" alt="">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <small class="text-muted">Feb 14, 2021 </small>
                                <small class="text-muted" style="margin: 0px 4px;"> </small>
                                <small class="text-muted">2 min read</small>
                            </div>
                            <mat-icon style="color: rgb(138, 138, 173);">sort</mat-icon>
                        </div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>