<div style="background-color:#f5f7fa; height: 100%;">
    <div class="my-5">.</div>
    <div class="container anyclass">
        <div class="sidebar">
            <a class="" routerLink="/admin/dashboard">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>home</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p> <strong>Dashboard</strong> </p>
                    </div>
                </div>
            </a>

            <a class="" routerLink="/admin/appointments">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>schedules</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>All Appointments</p>
                    </div>
                </div>
            </a>
            <a class="" routerLink="/admin/patients">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>pregnant_woman</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>All Patients</p>
                    </div>
                </div>
            </a>
            <a class="" routerLink="/admin/users">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>people_outline</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>Manage Users</p>
                    </div>
                </div>
            </a>
            <a class="" routerLink="/admin/blocked">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>block</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>Blocked Patients</p>
                    </div>
                </div>
            </a>
            <a class="" routerLink="/admin/blocked_doctors">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>block</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>Blocked Doctors</p>
                    </div>
                </div>
            </a>
            <a class="active" routerLink="/admin/blocked_hospital">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>block</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>Blocked Hospital</p>
                    </div>
                </div>
            </a>
            <a class="" routerLink="/admin/doctors">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>search</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>All Doctors</p>
                    </div>

                </div>
            </a>
            <a class="" routerLink="/admin/hospitals">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>business</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>All Hospital</p>
                    </div>

                </div>
            </a>
            <a class="" routerLink="/admin/labs">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>location_city</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>All Labs</p>
                    </div>

                </div>
            </a>
            <a class="" (click)="logout()">
                <div class="row">
                    <div class="col-2">
                        <mat-icon>exit_to_app</mat-icon>
                    </div>
                    <div class="col" style="text-align: left;">
                        <p>Logout</p>
                    </div>

                </div>
            </a>
        </div>


        <!-- Page content -->
        <div class="content card" style="padding: 15px;">
            <h1><b>All Hospitals</b>
                <hr>
            </h1>

            <div class="tobeless">
                <div class="card mb-3" *ngFor="let item of items">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-3">
                                    <img src="../../../assets/images/hospitalavatar.png" style="max-height: 140px;
                                        padding:
                                        20px;" alt="">
                                </div>
                                <div class="col">
                                    <div class="card-body" style="padding-left:
                                        60px;">
                                        <h3 class="card-title"> <strong>{{item.name}}</strong> </h3>
                                        <p class="card-text" style="margin:
                                            0px;"><small class="text-muted">
                                                <mat-icon style="font-size:
                                                    15px;">business</mat-icon>{{item.location}}
                                            </small></p>
                                        <p class="card-text" style="margin:
                                            0px;"><small class="text-muted">
                                                <mat-icon style="font-size:
                                                    15px;">phone</mat-icon>{{item.contact}}
                                            </small></p>
                                        <p class="card-text" style="margin:  0px;"><small class="text-muted">
                                                <mat-icon style="font-size: 15px;">mail</mat-icon>
                                                {{item.city_id.name}}
                                            </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="padding: 5px;">
                            <div class="row" style="text-align: center;">
                                <div class="col-12" style="padding:5px;">
                                    <a mat-raised-button
                                        style="color: #000066;background-color:#d4d4fd; text-align: center; width:50%;">
                                        <mat-icon>remove_red_eye</mat-icon>
                                        Check Doctors
                                    </a>
                                </div>
                                <div class="col-12" style="padding: 5px;">
                                    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" mat-raised-button
                                        (click)="editDetail(item.id)"
                                        style="color: green;background-color: rgb(196,252,196); text-align: center; width:    50%;">
                                        <mat-icon>settings</mat-icon>
                                        Edit Details
                                    </a>
                                </div>
                                <div class="col-12" style="padding:5px;">
                                    <a mat-raised-button (click)="blockDoctor(item.id)"
                                        style="color: red;background-color: rgb(248, 216,216); text-align: center; width:     50%;">
                                        <mat-icon>cancel_presentation</mat-icon>
                                        Unblock
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" style="position: relative;"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <form [formGroup]="getDoctorData">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="staticBackdropLabel" style="text-align: center;"><strong>Hospitals
                            Details</strong>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Hospital Name</mat-label>
                        <input matInput type="text" value={{temp.name}} formControlName="name">
                    </mat-form-field>

                    <div style="padding-bottom: 25px;">
                        <label style="color: rgb(131, 131, 131);">City</label>
                        <select class="form-select" aria-label="Default select example" value={{temp.city_id.name}}
                            formControlName="city" style="color: rgb(71, 71, 71); font-size: 16px;">

                            <option value="Islamabad" selected>Islamabad</option>
                            <option value="Lahore">Lahore</option>
                            <option value="Wahcantt">Wahcantt</option>
                            <option value="Karachi">Karachi</option>
                            <option value="Multan">Multan</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Faisalabad">Faisalabad</option>
                            <option value="Bahawalpur">Bahawalpur</option>
                            <option value="RawalPindi">RawalPindi</option>
                            <option value="Peshawar">Peshawar</option>
                            <option value="Quetta">Quetta</option>
                        </select>
                    </div>


                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" value={{temp.location}} formControlName="location">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Contact</mat-label>
                        <input matInput type="text" value={{temp.contact}} formControlName="contact">
                    </mat-form-field>

                </div>
                <div class="modal-footer">
                    <a mat-raised-button data-bs-dismiss="modal" (click)="onUpdate(temp.id)"
                        style="color:#000066;background-color: #d4d4fd; text-align: center;">
                        <mat-icon>settings</mat-icon>
                        Update
                    </a>

                </div>
            </div>
        </div>
    </form>
</div>